<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../public/game.css">
</head>

<body>
    <div class="genel">
        <div class="giris">
            <h2 id="hiki"> Do You Wanna Play Game</h2>
            <button onclick="window.location.href = 'game8.html'" type="button" id="btn"> <span>8'li Kart</span> </button>
            <button onclick="window.location.href = 'game16.html'" type="button" id="btn"> <span>16'lı Kart</span> </button>
        </div>
    </div>
    <div class="scoreTable" id="scoretable">
        <table class="w3-table">
            <thead style="background-color: cornflowerblue;">
                <tr>
                    <th>Name </th>
                    <th>Note </th>
                    <th>Points </th>
                </tr>
        </table>
        </thead>
    </div>


    <script>
        const veriYazdirma = (son) => {
            console.log(son);
        }
        veriYazdirma();
    </script>

</body>

</html>