<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sass.js/0.9.2/sass.min.js"></script>

    <link rel="stylesheet" href="../public/deneme.sass">
    <link rel="stylesheet" href="../public/game.css">
</head>

<body>
    <div class="genel">
        <div class="giris">
            <h2 id="hiki"> Do You Wanna Play Game</h2>
            <button onclick="window.location.href = 'game8.html'" type="button" id="btn"> <span>8'li Kart</span> </button>
            <button onclick="window.location.href = 'game16.html'" type="button" id="btn"> <span>16'lı Kart</span> </button>
        </div>
    </div>

</body>

</html>