<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../public/game.css">
</head>

<body>
    <div class="genel">
        <div class="giris">
            <h2 id="hiki"> Do You Wanna Play Game</h2>
            <button onclick="window.location.href = 'game8.html'" type="button" id="btn"> <span>8'li Kart</span> </button>
            <button onclick="window.location.href = 'game16.html'" type="button" id="btn"> <span>16'lı Kart</span> </button>
        </div>
    </div>


    <div class="scoreTable" id="scoretable">
        <table class="w3-table" id="tablee">
            <thead style="background-color: cornflowerblue;">
                <tr>
                    <th>WHY</th>
                    <th>Name </th>
                    <th>Note </th>
                </tr>
            </thead>
            <tbody id="deneme">

            </tbody>
        </table>

    </div>
    <script>
        const veriYazdirma = (son) => {
            table = document.getElementById('tablee');
            for (let i = 0; i < son.length; i++) {
                let tr = document.createElement('tr');
                let th = document.createElement('th');

                let tbody = document.getElementById('deneme');
                tbody.appendChild(tr);
                tr.appendChild(th)

                let td = document.createElement('td');
                tr.appendChild(td)
                let td1 = document.createElement('td');
                tr.appendChild(td1)


                td.innerHTML = son[i].isim;
                td1.innerHTML = son[i].note;
            }
        }

        const deneme = () => {
            fetch('/view')
                .then(response => response.json())
                .then((son) => {
                    console.log(son);
                    veriYazdirma(son);
                })
        }
        deneme()
    </script>
</body>

</html>