<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexadecimal Memory Card Game</title>
    <link rel="stylesheet" href="../public/game.css">
</head>

<body>

    <div class="scmv" id="scmvv">
        <p id='bb'>Score: 0</p>
        <p id="cc">Move: 0</p>
    </div>

    <button id="refresh" onclick="window.location.reload()">Retry</button>

    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1 id='dd'>Your Point: </h1>
            <label for="isim" id="aa"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="isim" required>
            <br>
            <label for="psw" id="aa"><b>Note</b></label>
            <input type="text" onclick="window.location.href = '/'" placeholder=" Add a note to your success " name="psw ">
            <br>
            <button type="submit" class="btn" onclick="window.location.href='/' ">Save</button>
            <button type="retry" class="btn retry" onclick="window.location.href='/' ">Play Again</button> <br>
        </form>
    </div>

    <section class="gamee" id="gamee">
        <div class="kartlar" id="kartlarr">
            <img class="frontcards" id="mickeys" src="../public/mickey.png">
            <img class="backcards" id="backk" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr1">
            <img class="frontcards " id="mickeys" src="../public/mickey.png">
            <img class="backcards" id="backk1" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr2">
            <img class="frontcards" src="../public/pikachu.png">
            <img class="backcards" id="backk2" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr3">
            <img class="frontcards" src="../public/pikachu.png">
            <img class="backcards" id="backk3" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr4">
            <img class="frontcards" src="../public/sünger.png">
            <img class="backcards" id="backk4" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr5">
            <img class="frontcards" src="../public/sünger.png">
            <img class="backcards" id="backk5" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr6">
            <img class="frontcards" src="../public/tweety.png">
            <img class="backcards" id="backk6" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr7">
            <img class="frontcards" src="../public/tweety.png">
            <img class="backcards" id="backk7" src="../public/background.png">
        </div>
        <div class="kartlar " id="kartlarr8">
            <img class="frontcards" src="../public/6733867_preview.png">
            <img class="backcards" id="backk8" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr9">
            <img class="frontcards" src="../public/6733867_preview.png">
            <img class="backcards" id="backk9" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr10">
            <img class="frontcards" src="../public/phineasferb.png">
            <img class="backcards" id="backk10" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr11">
            <img class="frontcards" src="../public/phineasferb.png">
            <img class="backcards" id="backk11" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr12">
            <img class="frontcards" src="../public/stitch.png">
            <img class="backcards" id="backk12" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr13">
            <img class="frontcards" src="../public/stitch.png">
            <img class="backcards" id="backk13" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr14">
            <img class="frontcards" src="../public/tomjerry.jpg">
            <img class="backcards" id="backk14" src="../public/background.png">
        </div>
        <div class="kartlar" id="kartlarr15">
            <img class="frontcards" src="../public/tomjerry.jpg">
            <img class="backcards" id="backk15" src="../public/background.png">
        </div>
    </section>



    <script type="text/javascript" src="../public/game16.js" charset="utf-8 "></script>
</body>

</html>